{% extends 'src/views/partials/Layout.njk'%}
{% block title%}Home{% endblock%}
{% block content %}
    <h1>Home page</h1>
    <ul>
    {%for i in range(0,10)%}
    <li>{{ i }}</li>
    {% endfor %}
</ul>
{% endblock %}